body.dark {
  --navbar-bg: #1e1e1e;
  --navbar-text: #f5f5f5;
  --navbar-border: #333;
  --search-bg: #2a2a2a;
  --search-text: #f5f5f5;
  --accent-color: 	#601f9e;
  --body-bg: #121212;
  --body-text: #f5f5f5;
  --footer-bg: #1e1e1e;
  --footer-text: #f5f5f5;
  --login-bg: #1e1e1e;
  background-color: var(--body-bg);
  color: var(--body-text);
}